body {
    background-color: rgb(7, 4, 67);
}

h1 {
    font-size: 56px;
    color: #eaea19;
}

img {
    width: 90%;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 110px;
    height: 150px;
    border-radius: 5px;
    margin: 10px;
    transform-style: preserve-3d;
}

.hide {
    display: none;
}


.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
  }

  .back-face {
    transform: rotateY(180deg);
  }

  .back-flip {
    transform: rotateY(0deg);
  }

  .front-face{
    background-image: url("img/jorel.webp");
    background-size: contain;
    background-repeat: no-repeat;

  }

  .front-flip {
    transform: rotateY(-180deg);
  }
  